body {
  position: relative;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  color: #0d0e17;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
    line-height: 1.67;
  }
}

body.active {
  overflow: hidden;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 30px;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-size: 20px;
  line-height: 1.1;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 40px;
    line-height: 1.05;
  }
}

h3 {
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 22px;
    line-height: 1.36;
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

/*p {
   margin: 0;
}*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 10px 55px 10px;
  background-color: #ffffff;
  z-index: 999;
}

@media screen and (min-width: 1170px) {
  .header {
    padding: 55px 120px;
  }
}

@media screen and (min-width: 1441px) {
  .header {
    margin: 0 auto;
  }
}

.header__logo {
  display: block;
  width: 102px;
  height: 40px;
}

@media screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}

.header__burger.close {
  display: none;
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}

.header__close {
  display: none;
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}

.header__close.active {
  display: block;
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}

.header__menu {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 90px;
  padding: 75px 55px 45px;
  text-align: center;
  overflow: auto;
  background: #0d0e17;
}

@media screen and (min-width: 1024px) {
  .header__menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: unset;
    height: unset;
    background: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    top: 0;
    overflow: hidden;
  }
}

.header__menu.open {
  display: block;
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
  z-index: 1;
}

.header__menu-list {
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (min-width: 1024px) {
  .header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin-bottom: 0;
    margin-right: 65px;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1280px) {
  .header__menu-list {
    margin-right: 25px;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1366px) {
  .header__menu-list {
    margin-right: 105px;
  }
}

.header__menu-item:not(:last-child) {
  margin-bottom: 35px;
}

@media screen and (min-width: 1024px) {
  .header__menu-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .header__menu-item:not(:last-child) {
    margin-right: 65px;
  }
}

.header__menu-item:first-child {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item:first-child .header__menu-link {
  margin-right: 10px;
}

.header__menu-link {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .header__menu-link {
    font-size: 20px;
    color: #0d0e17;
  }
}

.header__button {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
  padding: 25px 70px;
  background: #ed6a32;
  border-radius: 30px;
  color: #ffffff;
}

.header__menu-arrow {
  margin-left: 10px;
}

.header__menu-arrow-left, .header__menu-arrow-right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .header__menu-arrow-left, .header__menu-arrow-right {
    color: #0d0e17;
  }
}

.header__menu-arrow-left {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu-arrow-right {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hero {
  position: relative;
  max-width: 1440px;
  padding: 0 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1170px) {
  .hero {
    padding: 0 0 0 120px;
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 1441px) {
  .hero {
    margin: 0 auto;
    margin-bottom: 130px;
  }
}

.hero__left {
  position: relative;
  border: 2px solid #0d0e17;
  border-radius: 30px;
  padding: 40px 27px 40px 30px;
}

@media screen and (min-width: 1280px) {
  .hero__left {
    max-width: 625px;
    padding: 70px 110px 70px 100px;
    border: 4px solid #0d0e17;
    border-radius: 50px;
  }
}

.hero__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 46px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1366px) {
  .hero__text {
    padding-right: 0;
  }
}

.hero__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1366px) {
  .hero__title {
    margin-bottom: 35px;
  }
}

.hero__description {
  margin: 0;
  font-size: 18px;
  line-height: 1.59;
  margin-bottom: 15px;
}

@media screen and (min-width: 1366px) {
  .hero__description {
    margin-bottom: 45px;
  }
}

.hero__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 30px;
  background: #7f4bdc;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.hero__icon {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 60px;
  right: 18px;
  fill: #7f4bdc;
}

@media screen and (min-width: 1366px) {
  .hero__icon {
    top: 48px;
    right: 64px;
  }
}

.hero picture {
  display: block;
  margin: 0 auto;
  max-width: 706px;
  max-height: 554px;
}

.hero__image {
  border-radius: 30px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .hero__image {
    border-radius: 50px 0px 0px 50px;
  }
}

.features {
  position: relative;
  max-width: 1440px;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .features {
    padding: 0 10px;
  }
}

@media screen and (min-width: 1170px) {
  .features {
    padding: 0 120px;
  }
}

@media screen and (min-width: 1366px) {
  .features {
    margin-bottom: 350px;
  }
}

@media screen and (min-width: 1441px) {
  .features {
    margin: 0 auto;
    margin-bottom: 350px;
  }
}

.features__block {
  position: relative;
  padding-top: 50px;
  padding-bottom: 75px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1366px) {
  .features__block {
    padding-bottom: 170px;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 768px) {
  .features__top {
    position: absolute;
    width: 400px;
    left: 40%;
  }
}

@media screen and (min-width: 1366px) {
  .features__top {
    left: 50%;
  }
}

.features__title, .features__description {
  padding: 0 10px;
}

.features__description {
  margin-top: 30px;
  margin-bottom: 25px;
}

.features__images {
  position: relative;
}

@media screen and (min-width: 768px) {
  .features__images {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1366px) {
  .features__image-first {
    width: 520px;
    height: 520px;
  }
}

.features__image-second {
  position: absolute;
  top: 140px;
  left: 175px;
}

@media screen and (min-width: 768px) {
  .features__image-second {
    top: 200px;
  }
}

@media screen and (min-width: 1366px) {
  .features__image-second {
    width: 354px;
    height: 354px;
    top: 395px;
    left: 440px;
  }
}

.features__images-icon {
  display: none;
  fill: #ed6a32;
}

@media screen and (min-width: 1366px) {
  .features__images-icon {
    display: block;
    position: absolute;
    left: 745px;
    top: 395px;
  }
}

.features__icon {
  position: absolute;
  top: 0;
  right: 10px;
  fill: #ed6a32;
}

@media screen and (min-width: 768px) {
  .features__icon {
    right: unset;
    left: 32%;
  }
}

@media screen and (min-width: 1366px) {
  .features__icon {
    left: 40%;
    width: 64px;
    height: 64px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 70px;
  }
}

.features__item {
  position: relative;
  margin-left: 45px;
  padding: 24px 20px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 50%;
    margin: -2px;
  }
}

@media screen and (min-width: 1024px) {
  .features__item {
    padding: 72px 104px;
  }
}

.features__item::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -45px;
  height: 2px;
  background: #0d0e17;
  width: 45px;
}

@media screen and (min-width: 768px) {
  .features__item::before {
    display: none;
  }
}

.features__item:last-child::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -45px;
  height: 2px;
  background: #0d0e17;
  width: 45px;
}

@media screen and (min-width: 768px) {
  .features__item:last-child::after {
    display: none;
  }
}

.features__item:nth-child(2n) {
  border: 2px solid #0d0e17;
  border-radius: 0px 30px 30px 0px;
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(2n) {
    border: none;
  }
}

.features__item:nth-child(2n + 1) {
  border-left: 2px solid #0d0e17;
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(2n + 1) {
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(2) {
    border: 4px solid #0d0e17;
    border-radius: 0px 50px 50px 0px;
  }
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(3) {
    border: 4px solid #0d0e17;
    border-radius: 50px 0 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(5) {
    margin: auto;
    margin-top: -2px;
    margin-right: 6px;
    border: 4px solid #0d0e17;
    border-radius: 0px 50px 50px 0px;
  }
}

.features__item-icon, .features__item-title {
  margin-bottom: 20px;
}

.features__image {
  padding: 0 10px 0 45px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__image {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 35%;
  }
}

@media screen and (min-width: 1366px) {
  .features__image {
    width: unset;
    bottom: -225px;
  }
}

.features__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 165px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 55px;
  background: #ed6a32;
  border-radius: 20px;
  color: #ffffff;
}

@media screen and (min-width: 1366px) {
  .features__button {
    width: 200px;
    padding: 25px 70px;
    font-size: 20px;
    line-height: 1.35;
    border-radius: 30px;
  }
}

.possibilities {
  padding: 0 10px;
  margin-bottom: 80px;
  max-width: 1440px;
}

@media screen and (min-width: 768px) {
  .possibilities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1170px) {
  .possibilities {
    padding: 0 120px;
  }
}

@media screen and (min-width: 1441px) {
  .possibilities {
    margin: 0 auto;
    margin-bottom: 70px;
  }
}

.possibilities__left {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .possibilities__left {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

@media screen and (min-width: 1366px) {
  .possibilities__left {
    margin-right: 160px;
  }
}

.possibilities__title {
  max-width: 464px;
  margin-bottom: 35px;
}

.possibilities__description {
  background: #ed6a32;
  border-radius: 0px 30px 30px 30px;
  padding: 24px 27px 20px 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .possibilities__description {
    padding: 24px 48px;
  }
}

.possibilities__text {
  max-width: 368px;
  font-size: 18px;
  line-height: 1.67;
  margin: auto;
}

.possibilities__right {
  max-width: 576px;
}

.possibilities__bottom {
  padding: 26px 22px 16px 22px;
  background: #f4f4f4;
  border-radius: 0px 30px 30px 30px;
}

.possibilities__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.possibilities__icon {
  margin-right: 20px;
}

.possibilities__right-description {
  margin-left: 48px;
}

.subscriptions {
  max-width: 1440px;
  margin-bottom: 80px;
  padding: 0 10px;
}

@media screen and (min-width: 1170px) {
  .subscriptions {
    padding: 0 120px;
  }
}

@media screen and (min-width: 1441px) {
  .subscriptions {
    margin: 0 auto;
    margin-bottom: 100px;
  }
}

.subscriptions__title {
  max-width: 461px;
  margin-bottom: 40px;
}

.subscriptions__item {
  padding: 30px 55px;
  background: #f4f4f4;
  text-align: center;
  font-size: 18px;
  line-height: 1.59;
}

@media screen and (min-width: 768px) {
  .subscriptions__item {
    padding: 30px 27px;
  }
}

@media screen and (min-width: 1366px) {
  .subscriptions__item:first-child {
    border-radius: 50px 0px 0px 50px;
  }
}

@media screen and (min-width: 1366px) {
  .subscriptions__item:last-child {
    border-radius: 0px 50px 50px 0px;
  }
}

.subscriptions__item-block {
  min-height: 275px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1366px) {
  .subscriptions__item-block {
    min-height: 300px;
  }
}

.subscriptions__item-title, .subscriptions__item-price, .subscriptions__item-description {
  margin-top: 0;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .subscriptions__item-title, .subscriptions__item-price {
    font-size: 22px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .subscriptions__item-price {
    margin-bottom: 35px;
  }
}

.subscriptions__item-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 50px;
  background: #ed6a32;
  border-radius: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .subscriptions__item-link {
    font-size: 20px;
    line-height: 1.35;
    padding: 25px 70px;
    border-radius: 30px;
  }
}

.subscriptions .color1 {
  color: #24c4d5;
}

.subscriptions .color2 {
  color: #7f4bdc;
}

.subscriptions .color3 {
  color: #ed6a32;
}

.subscriptions .swiper-pagination {
  bottom: 0;
  position: relative;
  margin-top: 15px;
}

.subscriptions .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #f4f4f4;
  opacity: unset;
}

.subscriptions .swiper-pagination-bullet-active {
  background: #ed6a32;
}

.capabilities {
  max-width: 1440px;
  margin-bottom: 80px;
  padding: 0 10px;
  text-align: center;
}

@media screen and (min-width: 1170px) {
  .capabilities {
    padding: 0 120px;
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 1441px) {
  .capabilities {
    margin: 0 auto;
    margin-bottom: 130px;
  }
}

.capabilities__left {
  position: relative;
  text-align: left;
  padding: 32px;
  background: #f4f4f4;
  border-radius: 30px;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .capabilities__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 55px;
    margin-bottom: 0;
  }
}

.capabilities__title {
  font-size: 22px;
  line-height: 1.36;
  max-width: 310px;
}

.capabilities__description {
  max-width: 310px;
}

.capabilities__icon {
  position: absolute;
  top: 60px;
  right: 35px;
  fill: #7f4bdc;
}

@media screen and (min-width: 768px) {
  .capabilities__icon {
    top: 20px;
    left: 390px;
    right: unset;
  }
}

.capabilities__link {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #7f4bdc;
  border-radius: 20px;
  padding: 15px 55px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 1170px) {
  .capabilities__link {
    padding: 25px 135px;
    border-radius: 30px;
    font-size: 20px;
    line-height: 1.35;
  }
}

.capabilities__link.mobile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .capabilities__link.mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .capabilities__link.desktop {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.capabilities__link-text {
  margin-right: 15px;
}

.about {
  max-width: 1440px;
  margin-bottom: 50px;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1170px) {
  .about {
    padding: 0 120px;
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 1441px) {
  .about {
    margin: 0 auto;
    margin-bottom: 130px;
  }
}

.about__left {
  max-width: 380px;
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__left {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .about__left {
    margin-left: 55px;
    margin-right: 160px;
  }
}

.about__right {
  max-width: 475px;
  margin: 0;
  font-size: 28px;
  line-height: 1.39;
}

@media screen and (min-width: 1366px) {
  .about__right {
    font-size: 40px;
    line-height: 1.22;
  }
}

.opportunity {
  max-width: 1440px;
  margin-bottom: 130px;
}

@media screen and (min-width: 768px) {
  .opportunity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1170px) {
  .opportunity {
    padding: 0 120px 0 0;
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 1441px) {
  .opportunity {
    margin: 0 auto;
    margin-bottom: 130px;
  }
}

.opportunity__left {
  max-width: 850px;
  padding: 35px 10px;
  background: #f4f4f4;
  border-radius: 30px 0px 0px 30px;
}

@media screen and (min-width: 768px) {
  .opportunity__left {
    padding: 85px 35px;
    border-radius: 0;
  }
}

@media screen and (min-width: 1024px) {
  .opportunity__left {
    padding: 85px 90px;
  }
}

@media screen and (min-width: 1170px) {
  .opportunity__left {
    padding: 85px 105px;
  }
}

@media screen and (min-width: 1280px) {
  .opportunity__left {
    padding: 85px 160px;
  }
}

@media screen and (min-width: 1366px) {
  .opportunity__left {
    padding: 85px 235px 85px 170px;
  }
}

@media screen and (min-width: 1366px) {
  .opportunity__left {
    padding: 85px 310px 85px 170px;
  }
}

.opportunity__title {
  max-width: 370px;
  margin-bottom: 45px;
}

.opportunity__description {
  max-width: 370px;
  padding: 22px 33px;
  border: 2px solid #0d0e17;
  border-radius: 0px 30px 30px 30px;
  margin-bottom: 30px;
}

.opportunity__description-icon {
  margin-bottom: 10px;
}

.opportunity__description-text {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 1366px) {
  .opportunity__description-text {
    font-size: 22px;
    line-height: 1.36;
  }
}

.opportunity__text {
  max-width: 370px;
  margin-bottom: 40px;
}

.opportunity__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 55px;
  background: #ed6a32;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 1366px) {
  .opportunity__link {
    padding: 25px 90px;
    border-radius: 30px;
    font-size: 20px;
    line-height: 1.35;
  }
}

.opportunity__image {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .opportunity__image {
    border-radius: 0;
  }
}

.education {
  max-width: 1440px;
  margin-bottom: 110px;
  padding: 0 10px;
}

@media screen and (min-width: 1024px) {
  .education {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1170px) {
  .education {
    padding: 0 120px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1441px) {
  .education {
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

.education__image {
  margin-bottom: 50px;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .education__image {
    margin-bottom: 0;
    margin-right: 115px;
  }
}

.education__title {
  max-width: 475px;
  font-size: 28px;
  line-height: 1.39;
  margin-bottom: 25px;
}

@media screen and (min-width: 1366px) {
  .education__title {
    font-size: 40px;
    line-height: 1.22;
    margin-bottom: 45px;
  }
}

.education__description {
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 1366px) {
  .education__description {
    margin-bottom: 45px;
  }
}

.education__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 37px;
  background: #f4f4f4;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #0d0e17;
}

@media screen and (min-width: 1366px) {
  .education__link {
    border-radius: 30px;
    font-size: 20px;
    line-height: 1.35;
    padding: 25px 70px;
  }
}

.education__link-text {
  margin-right: 15px;
}

@media screen and (min-width: 1366px) {
  .education__link-text {
    margin-right: 30px;
  }
}

.strategy {
  max-width: 1440px;
  margin-bottom: 70px;
  padding: 0 10px;
}

@media screen and (min-width: 1170px) {
  .strategy {
    padding: 0 120px;
    margin-bottom: 110px;
  }
}

@media screen and (min-width: 1441px) {
  .strategy {
    margin: 0 auto;
    margin-bottom: 110px;
  }
}

.strategy__title {
  margin-bottom: 30px;
}

.strategy__description {
  margin-top: 0;
  margin-bottom: 35px;
  max-width: 370px;
}

@media screen and (min-width: 768px) {
  .strategy__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .strategy__item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .strategy__item:nth-child(2) .strategy__item-left {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1366px) {
  .strategy__item:nth-child(2) .strategy__item-left {
    padding-left: 95px;
  }
}

@media screen and (min-width: 768px) {
  .strategy__item:nth-child(2) .strategy__item-link {
    left: 57%;
  }
}

@media screen and (min-width: 1366px) {
  .strategy__item:nth-child(2) .strategy__item-link {
    left: 63%;
  }
}

.strategy__item:not(:last-child) {
  margin-bottom: 60px;
}

.strategy__item-left {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .strategy__item-left {
    width: 50%;
  }
}

.strategy__item-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 1170px) {
  .strategy__item-title {
    font-size: 50px;
    margin-bottom: 40px;
  }
}

.strategy__item-date {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 1170px) {
  .strategy__item-date {
    font-size: 22px;
  }
}

.strategy__item-right {
  padding: 25px;
  border: 2px solid #0d0e17;
  border-radius: 0px 30px 30px 30px;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .strategy__item-right {
    width: 60%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1170px) {
  .strategy__item-right {
    padding: 60px 55px;
    border: 4px solid #0d0e17;
    border-radius: 0px 50px 50px 50px;
  }
}

.strategy__item-right.rotate {
  border-radius: 30px 0 30px 30px;
}

.strategy__item-right li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strategy__item-right li:not(:last-child) {
  margin-bottom: 30px;
}

.strategy__item-icon {
  margin-right: 15px;
}

.strategy__item-description {
  max-width: 195px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .strategy__item-description {
    max-width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .strategy__item-description {
    max-width: 350px;
  }
}

@media screen and (min-width: 1366px) {
  .strategy__item-description {
    max-width: 450px;
  }
}

.strategy__item-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 49px;
  background: #ed6a32;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .strategy__item-link {
    position: absolute;
    top: 120px;
    padding: 26px 49px;
    border-radius: 30px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1170px) {
  .strategy__item-link {
    top: 160px;
  }
}

.strategy__item-link-text {
  margin-right: 15px;
}

.service {
  position: relative;
  max-width: 1440px;
  margin-bottom: 50px;
  padding: 40px 10px 0 10px;
  text-align: center;
}

@media screen and (min-width: 1170px) {
  .service {
    padding: 40px 120px 0 120px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1441px) {
  .service {
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

.service__title {
  margin-bottom: 30px;
  text-align: left;
}

.service__description {
  max-width: 375px;
  margin-top: 0;
  margin-bottom: 140px;
  text-align: left;
}

@media screen and (min-width: 1170px) {
  .service__description {
    max-width: 425px;
    margin-bottom: 70px;
  }
}

.service__icon-top, .service__icon-middlle, .service__icon-bottom {
  fill: #ed6a32;
}

.service__icon-top {
  position: absolute;
  top: 0;
  right: 25px;
}

@media screen and (min-width: 1170px) {
  .service__icon-top {
    left: 706px;
    right: unset;
  }
}

.service__icon-middlle {
  position: absolute;
  top: 200px;
  left: 25px;
}

@media screen and (min-width: 1170px) {
  .service__icon-middlle {
    top: 125px;
    left: 990px;
  }
}

.service__icon-bottom {
  display: none;
}

@media screen and (min-width: 1170px) {
  .service__icon-bottom {
    display: inline-block;
    position: absolute;
    left: 525px;
    top: 165px;
  }
}

.service__form {
  padding: 54px 10px;
  background: #ed6a32;
  border-radius: 0px 30px;
}

@media screen and (min-width: 768px) {
  .service__form {
    padding: 54px 68px;
    border-radius: 0px 50px;
  }
}

.service__form-title {
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .service__form-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 768px) {
  .service__form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .service__form-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.service__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .service__form-label:nth-child(2n + 1) {
    margin-right: 40px;
  }
}

.service__form-label span {
  font-size: 18px;
  line-height: 1.59;
  color: #ffffff;
}

.service__form-label input {
  background: #ffffff;
  border-radius: 10px;
  padding: 11px 10px;
  border: none;
}

@media screen and (min-width: 768px) {
  .service__form-label input {
    padding: 18px 30px;
    border-radius: 20px;
  }
}

.service__form-label:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .service__form-label:not(:last-child) {
    margin-bottom: 0;
  }
}

.service__form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.service__form-checkbox + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 40px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.59;
  font-weight: 300;
  cursor: pointer;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .service__form-checkbox + label {
    margin-top: 54px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.service__form-checkbox + label span {
  display: block;
}

.service__form-checkbox + label:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 5px solid #ffffff;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .service__form-checkbox + label:before {
    left: 20%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .service__form-checkbox + label:before {
    left: 27%;
  }
}

@media screen and (min-width: 1280px) {
  .service__form-checkbox + label:before {
    left: 29%;
  }
}

@media screen and (min-width: 1366px) {
  .service__form-checkbox + label:before {
    left: 30%;
  }
}

.service__form-checkbox:checked + label:before {
  background-color: #f96929;
  background-image: none;
}

.service__form-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 10px;
  background: #f4f4f4;
  border-radius: 20px;
  color: #0d0e17;
  font-size: 18px;
  font-weight: 700;
  margin-top: 40px;
  border: none;
}

@media screen and (min-width: 768px) {
  .service__form-button {
    padding: 27px 90px;
    border-radius: 30px;
    font-size: 20px;
  }
}

.service__form-checkbox-link {
  text-decoration: underline;
  color: #ffffff;
}

.question {
  position: relative;
  max-width: 1440px;
  margin-bottom: 110px;
  padding: 70px 10px 0 10px;
  text-align: center;
}

@media screen and (min-width: 1170px) {
  .question {
    padding: 110px 110px 0 110px;
    margin-bottom: 150px;
    text-align: center;
  }
}

@media screen and (min-width: 1441px) {
  .question {
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

.question__icon {
  position: absolute;
  top: 0;
  right: 30px;
  fill: #7f4bdc;
}

@media screen and (min-width: 1170px) {
  .question__icon {
    left: 595px;
    right: unset;
  }
}

@media screen and (min-width: 1170px) {
  .question__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
  }
}

.question__left {
  position: relative;
  text-align: left;
}

@media screen and (min-width: 1170px) {
  .question__left {
    padding: 0 40px;
    width: 50%;
  }
}

.question__title {
  margin-bottom: 30px;
}

.question__description {
  margin-top: 0;
  margin-bottom: 70px;
}

.question__left-icon {
  position: absolute;
  fill: #7f4bdc;
  right: 0;
  bottom: -42px;
}

@media screen and (min-width: 1170px) {
  .question__left-icon {
    left: 320px;
    right: unset;
    bottom: 40px;
    width: 64px;
    height: 64px;
  }
}

.question__text {
  padding: 16px 36px;
  background: #f4f4f4;
  border-radius: 0px 30px 30px 30px;
  font-size: 28px;
  line-height: 1.39;
  margin-bottom: 120px;
  text-align: left;
}

@media screen and (min-width: 1170px) {
  .question__text {
    width: 50%;
    margin: 0 10px;
    padding: 45px 84px;
    max-width: 708px;
  }
}

@media screen and (min-width: 1366px) {
  .question__text {
    font-size: 40px;
    line-height: 1.22;
  }
}

.question__desktop {
  display: none;
}

@media screen and (min-width: 1170px) {
  .question__desktop {
    display: block;
  }
}

@media screen and (min-width: 1170px) {
  .question__mobile {
    display: none;
  }
}

.question__desktop .question__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.question__desktop .question__item {
  width: calc((100% - 3 * 20px) / 3);
  margin: 10px;
}

.question__desktop .question__item:nth-child(1) {
  border-radius: 50px 50px 0 50px;
}

.question__desktop .question__item:nth-child(2) {
  border-radius: 50px 50px 0 0;
}

.question__desktop .question__item:nth-child(3) {
  border-radius: 50px 50px 50px 0;
}

.question__desktop .question__item:nth-child(4) {
  border-radius: 50px 0 50px 50px;
}

.question__desktop .question__item:nth-child(5) {
  border-radius: 0 0 50px 50px;
}

.question__item {
  padding: 34px 22px;
  border: 2px solid #0d0e17;
  border-radius: 0px 30px 30px 30px;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .question__item {
    padding: 54px 40px;
  }
}

@media screen and (min-width: 1170px) {
  .question__item {
    border: 4px solid #0d0e17;
    border-radius: 0px 50px 50px 50px;
  }
}

.question__item-title {
  margin-bottom: 30px;
}

.question__item-description {
  margin-top: 0;
  margin-bottom: 45px;
  min-height: 110px;
}

@media screen and (min-width: 1170px) {
  .question__item-description {
    min-height: 150px;
  }
}

.question__item-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 18px 52px;
  background: #ed6a32;
  border-radius: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1366px) {
  .question__item-link {
    padding: 27px 60px;
    font-size: 20px;
    border-radius: 30px;
  }
}

.question__item-link-text {
  margin-right: 15px;
}

.question__item-link-icon {
  fill: #ffffff;
}

.question .swiper-pagination {
  bottom: 0;
  position: relative;
  margin-top: 15px;
}

.question .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #f4f4f4;
  opacity: unset;
}

.question .swiper-pagination-bullet-active {
  background: #ed6a32;
}

.question__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 18px 56px;
  margin-top: 45px;
  background: #7f4bdc;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 1170px) {
  .question__link {
    padding: 27px 128px;
    border-radius: 30px;
    font-size: 20px;
  }
}

.partners {
  max-width: 1440px;
  margin-bottom: 110px;
  padding: 0 10px;
  text-align: center;
}

@media screen and (min-width: 1170px) {
  .partners {
    padding: 0 120px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1441px) {
  .partners {
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

.partners__title {
  text-align: left;
  margin-bottom: 30px;
}

@media screen and (min-width: 1170px) {
  .partners__title {
    padding-left: 40px;
    margin-bottom: 55px;
  }
}

.partners__description {
  text-align: left;
  margin-top: 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 1170px) {
  .partners__description {
    padding-left: 40px;
    margin-bottom: 70px;
  }
}

.partners__image {
  margin: 0 auto;
  margin-bottom: 45px;
}

@media screen and (min-width: 1170px) {
  .partners__image {
    margin-bottom: 70px;
  }
}

.partners__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 18px;
  background: #7f4bdc;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 1170px) {
  .partners__link {
    padding: 25px 85px;
    font-size: 20px;
    border-radius: 30px;
  }
}

.content {
  max-width: 1440px;
  margin-bottom: 110px;
  padding: 0 10px;
  /*
   &__tabs-items > a:hover {
      background-color: #ed6a32;
      color: #ffffff;
   }

   &__tabs > #tab_01:target ~ &__tabs-items > a[href="#tab_01"],
   &__tabs > #tab_02:target ~ &__tabs-items > a[href="#tab_02"],
   &__tabs > #tab_03:target ~ &__tabs-items > a[href="#tab_03"],
   &__tabs > #tab_04:target ~ &__tabs-items > a[href="#tab_04"] {
      background-color: #ed6a32;
      color: #ffffff;
      cursor: default;
   }

   &__tabs > div:not(.content__tabs-items) {
      display: none;
      order: 1;
   }

   &__tabs > div:target {
      display: block;
   }*/
}

@media screen and (min-width: 1170px) {
  .content {
    padding: 0 120px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1441px) {
  .content {
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

.content__title {
  max-width: 165px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .content__title {
    max-width: 530px;
    margin-bottom: 54px;
  }
}

.content__description {
  margin-bottom: 45px;
}

@media screen and (min-width: 1024px) {
  .content__description {
    margin-bottom: 70px;
  }
}

.content__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__tabs-items {
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .content__tabs-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content__tabs-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 30px 35px;
  background: #f4f4f4;
  font-size: 18px;
  line-height: 1.59;
  text-align: center;
  color: #0d0e17;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .content__tabs-item {
    padding: 30px;
  }
}

@media screen and (min-width: 1170px) {
  .content__tabs-item {
    font-size: 22px;
  }
}

.content__tabs-item:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .content__tabs-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.content__tabs-item:first-child {
  border-radius: 30px 30px 0px 0px;
}

@media screen and (min-width: 768px) {
  .content__tabs-item:first-child {
    border-radius: 50px 0px 0px 50px;
  }
}

.content__tabs-item:last-child {
  border-radius: 0px 0px 30px 30px;
}

@media screen and (min-width: 768px) {
  .content__tabs-item:last-child {
    border-radius: 0px 50px 50px 0px;
  }
}

.content__tabs-item.is-active {
  background-color: #ed6a32;
  color: #ffffff;
}

.content__tabs-block {
  display: none;
  text-align: center;
  padding: 40px 31px 37px 17px;
  border: 2px solid #0d0e17;
  border-radius: 0px 50px;
  font-size: 28px;
  line-height: 1.39;
  max-width: 795px;
  margin: 0 auto;
}

@media screen and (min-width: 1170px) {
  .content__tabs-block {
    padding: 55px 70px;
    border: 4px solid #0d0e17;
    font-size: 40px;
    line-height: 1.22;
  }
}

.content__tabs-block.is-active {
  display: block;
}

.social-links {
  max-width: 1440px;
  margin-bottom: 110px;
  padding: 0 10px;
}

@media screen and (min-width: 1170px) {
  .social-links {
    padding: 0 120px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1441px) {
  .social-links {
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

.social-links__title {
  margin-bottom: 45px;
}

@media screen and (min-width: 1024px) {
  .social-links__title {
    margin-bottom: 100px;
  }
}

.social-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .social-links__item:not(:last-child) {
    margin-right: 80px;
  }
}

.footer {
  max-width: 1440px;
  text-align: center;
}

@media screen and (min-width: 1170px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1441px) {
  .footer {
    margin: 0 auto;
  }
}

.footer__menu {
  padding: 40px 80px;
  background: #ed6a32;
  color: #ffffff;
}

@media screen and (min-width: 1170px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 70px 85px 70px 120px;
    min-width: 933px;
    text-align: left;
  }
}

.footer__menu-first, .footer__menu-second {
  margin-bottom: 25px;
}

@media screen and (min-width: 1170px) {
  .footer__menu-first-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1170px) {
  .footer__menu-first-block .footer__menu-list {
    margin-right: 40px;
  }
}

.footer__menu-title {
  font-size: 18px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1170px) {
  .footer__menu-title {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 30px;
  }
}

.footer__menu-item {
  margin-bottom: 15px;
}

.footer__menu-link {
  font-size: 14px;
  line-height: 2.14;
  color: #ffffff;
}

@media screen and (min-width: 1170px) {
  .footer__menu-link {
    font-size: 16px;
    line-height: 1.88;
  }
}

.footer__right {
  padding: 55px 10px 20px 10px;
  background: #f4f4f4;
}

@media screen and (min-width: 1170px) {
  .footer__right {
    padding: 75px 0 20px 65px;
    text-align: left;
  }
}

.footer__logo {
  margin-bottom: 25px;
}

@media screen and (min-width: 1170px) {
  .footer__logo {
    margin-bottom: 65px;
  }
}

.footer__description {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 18px;
}

@media screen and (min-width: 1170px) {
  .footer__description {
    font-size: 22px;
    max-width: 300px;
  }
}

.footer__icon {
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 1170px) {
  .footer__icon {
    margin: 0;
    margin-bottom: 155px;
  }
}

@media screen and (min-width: 1170px) {
  .footer__menu-second {
    margin-right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */