.service {
   position: relative;
   max-width: 1440px;
   margin-bottom: 50px;
   padding: 40px 10px 0 10px;
   text-align: center;

   @media screen and (min-width: 1170px) {
      padding: 40px 120px 0 120px;
      margin-bottom: 150px;
   }

   @media screen and (min-width: 1441px) {
      margin: 0 auto;
      margin-bottom: 150px;
   }

   &__title {
      margin-bottom: 30px;
      text-align: left;
   }

   &__description {
      max-width: 375px;
      margin-top: 0;
      margin-bottom: 140px;
      text-align: left;

      @media screen and (min-width: 1170px) {
         max-width: 425px;
         margin-bottom: 70px;
      }
   }

   &__icon-top,
   &__icon-middlle,
   &__icon-bottom {
      fill: #ed6a32;
   }

   &__icon-top {
      position: absolute;
      top: 0;
      right: 25px;
      @media screen and (min-width: 1170px) {
         left: 706px;
         right: unset;
      }
   }

   &__icon-middlle {
      position: absolute;
      top: 200px;
      left: 25px;
      @media screen and (min-width: 1170px) {
         top: 125px;
         left: 990px;
      }
   }

   &__icon-bottom {
      display: none;
      @media screen and (min-width: 1170px) {
         display: inline-block;
         position: absolute;
         left: 525px;
         top: 165px;
      }
   }

   &__form {
      padding: 54px 10px;
      background: #ed6a32;
      border-radius: 0px 30px;
      @media screen and (min-width: 768px) {
         padding: 54px 68px;
         border-radius: 0px 50px;
      }
   }

   &__form-title {
      color: #ffffff;
      margin-bottom: 30px;
      @media screen and (min-width: 768px) {
         text-align: center;
         font-size: 22px;
         margin-bottom: 54px;
      }
   }

   &__form-item {
      @media screen and (min-width: 768px) {
         display: flex;
         text-align: left;
      }
   }

   &__form-item:not(:last-child) {
      @media screen and (min-width: 768px) {
         margin-bottom: 20px;
      }
   }

   &__form-label {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: left;
   }

   &__form-label:nth-child(2n + 1) {
      @media screen and (min-width: 768px) {
         margin-right: 40px;
      }
   }

   &__form-label span {
      font-size: 18px;
      line-height: 1.59;
      color: #ffffff;
   }

   &__form-label input {
      background: #ffffff;
      border-radius: 10px;
      padding: 11px 10px;
      border: none;
      @media screen and (min-width: 768px) {
         padding: 18px 30px;
         border-radius: 20px;
      }
   }

   &__form-label:not(:last-child) {
      margin-bottom: 15px;
      @media screen and (min-width: 768px) {
         margin-bottom: 0;
      }
   }

   &__form-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 20px;
   }

   &__form-checkbox + label {
      position: relative;
      display: flex;
      padding: 0 0 0 40px;
      color: #ffffff;
      font-size: 18px;
      line-height: 1.59;
      font-weight: 300;
      cursor: pointer;
      margin-top: 40px;
      @media screen and (min-width: 768px) {
         margin-top: 54px;
         align-items: center;
         justify-content: center;
      }
   }

   &__form-checkbox + label span {
      display: block;
   }

   &__form-checkbox + label:before {
      content: "";
      position: absolute;
      left: 0px;
      width: 22px;
      height: 22px;
      border: 5px solid #ffffff;
      border-radius: 5px;
      margin-top: 5px;
      background-color: #ffffff;
      @media screen and (min-width: 768px) {
         left: 20%;
         margin-top: 0;
      }

      @media screen and (min-width: 1024px) {
         left: 27%;
      }
      @media screen and (min-width: 1280px) {
         left: 29%;
      }
      @media screen and (min-width: 1366px) {
         left: 30%;
      }
   }

   &__form-checkbox:checked + label:before {
      background-color: #f96929;
      background-image: none;
   }

   &__form-button {
      display: inline-flex;
      padding: 15px 10px;
      background: #f4f4f4;
      border-radius: 20px;
      color: #0d0e17;
      font-size: 18px;
      font-weight: 700;
      margin-top: 40px;
      border: none;
      @media screen and (min-width: 768px) {
         padding: 27px 90px;
         border-radius: 30px;
         font-size: 20px;
      }
   }

   &__form-checkbox-link {
      text-decoration: underline;
      color: #ffffff;
   }
}
