.social-links {
   max-width: 1440px;
   margin-bottom: 110px;
   padding: 0 10px;

   @media screen and (min-width: 1170px) {
      padding: 0 120px;
      margin-bottom: 150px;
   }

   @media screen and (min-width: 1441px) {
      margin: 0 auto;
      margin-bottom: 150px;
   }

   &__title {
      margin-bottom: 45px;
      @media screen and (min-width: 1024px) {
         margin-bottom: 100px;
      }
   }

   &__list {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__item:not(:last-child) {
      margin-right: 20px;
      @media screen and (min-width: 1024px) {
         margin-right: 80px;
      }
   }
}
