.opportunity {
   max-width: 1440px;
   margin-bottom: 130px;

   @media screen and (min-width: 768px) {
      display: flex;
   }

   @media screen and (min-width: 1170px) {
      padding: 0 120px 0 0;
      margin-bottom: 130px;
   }

   @media screen and (min-width: 1441px) {
      margin: 0 auto;
      margin-bottom: 130px;
   }

   &__left {
      max-width: 850px;
      padding: 35px 10px;
      background: #f4f4f4;
      border-radius: 30px 0px 0px 30px;
      @media screen and (min-width: 768px) {
         padding: 85px 35px;
         border-radius: 0;
      }
      @media screen and (min-width: 1024px) {
         padding: 85px 90px;
      }
      @media screen and (min-width: 1170px) {
         padding: 85px 105px;
      }
      @media screen and (min-width: 1280px) {
         padding: 85px 160px;
      }
      @media screen and (min-width: 1366px) {
         padding: 85px 235px 85px 170px;
      }
      @media screen and (min-width: 1366px) {
         padding: 85px 310px 85px 170px;
      }
   }

   &__title {
      max-width: 370px;
      margin-bottom: 45px;
   }

   &__description {
      max-width: 370px;
      padding: 22px 33px;
      border: 2px solid #0d0e17;
      border-radius: 0px 30px 30px 30px;
      margin-bottom: 30px;
   }

   &__description-icon {
      margin-bottom: 10px;
   }

   &__description-text {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      @media screen and (min-width: 1366px) {
         font-size: 22px;
         line-height: 1.36;
      }
   }

   &__text {
      max-width: 370px;
      margin-bottom: 40px;
   }

   &__link {
      display: inline-flex;
      padding: 15px 55px;
      background: #ed6a32;
      border-radius: 20px;
      font-size: 18px;
      font-weight: 700;
      color: #ffffff;
      @media screen and (min-width: 1366px) {
         padding: 25px 90px;
         border-radius: 30px;
         font-size: 20px;
         line-height: 1.35;
      }
   }

   &__image {
      border-radius: 30px;
      @media screen and (min-width: 768px) {
         border-radius: 0;
      }
   }
}
