.capabilities {
   max-width: 1440px;
   margin-bottom: 80px;
   padding: 0 10px;
   text-align: center;

   @media screen and (min-width: 1170px) {
      padding: 0 120px;
      margin-bottom: 130px;
   }

   @media screen and (min-width: 1441px) {
      margin: 0 auto;
      margin-bottom: 130px;
   }

   &__left {
      position: relative;
      text-align: left;
      padding: 32px;
      background: #f4f4f4;
      border-radius: 30px;
      font-size: 18px;
      line-height: 1.67;
      margin-bottom: 25px;
      @media screen and (min-width: 768px) {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 40px 55px;
         margin-bottom: 0;
      }
   }

   &__title {
      font-size: 22px;
      line-height: 1.36;
      max-width: 310px;
   }

   &__description {
      max-width: 310px;
   }

   &__icon {
      position: absolute;
      top: 60px;
      right: 35px;
      fill: #7f4bdc;
      @media screen and (min-width: 768px) {
         top: 20px;
         left: 390px;
         right: unset;
      }
   }

   &__link {
      display: none;
      align-items: center;
      background: #7f4bdc;
      border-radius: 20px;
      padding: 15px 55px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      @media screen and (min-width: 1170px) {
         padding: 25px 135px;
         border-radius: 30px;
         font-size: 20px;
         line-height: 1.35;
      }
   }

   &__link.mobile {
      display: inline-flex;
      @media screen and (min-width: 768px) {
         display: none;
      }
   }

   &__link.desktop {
      @media screen and (min-width: 768px) {
         display: inline-flex;
      }
   }

   &__link-text {
      margin-right: 15px;
   }
}
